<div style="text-align: center;">
<form action="/server.js" id="contact-form" method="post" role="form">

  Your name:
  <div>
    <label>
      <input type="text" name="name" class="form-control" placeholder="Your Name" [(ngModel)]="name" required minlength="3" #nameInput="ngModel">
    </label>
    <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
      Name is required and needs to be at least 3 characters long.
    </div>
  </div>

  Your email:
  <div>
    <label>
      <input type="email" name="email" class="form-control" placeholder="Your Email" [(ngModel)]="email" required email #emailInput="ngModel">
    </label>
    <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
      Needs to be a valid email.
    </div>
  </div>

  Your message:
  <div>
    <label>
      <textarea name="message" class="form-control" placeholder="What's on your mind?" [(ngModel)]="message" required #messageInput="ngModel"></textarea>
    </label>
    <div class="help is-error" *ngIf="messageInput.invalid && messageInput.dirty">
      Your message is required.
    </div>
  </div>
  <div >
  <button type="submit" value="Submit" class="btn btn-primary" [disabled]="nameInput.invalid || emailInput.invalid || messageInput.invalid">Submit</button>
  </div>

</form>
</div>
<router-outlet></router-outlet>
