<nav class="navbar navbar-expand-md navbar-light bg-light pagination-centered">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav btn-group" role="toolbar">
      <button class="btn nav-item btn-outline-secondary" routerLink="/home" type="button">Home</button>
      <button class="btn nav-item btn-outline-secondary" routerLink="/contact" type="button">Contact Me</button>
    </div>
  </div>
</nav>
<hr />
<router-outlet></router-outlet>
