<section class="text-center mb-3">
  <a href="https://www.linkedin.com/in/sarah-hargreaves" target="_blank">
    <img src="../../assets/linkedin.png" alt="LinkedIn" width="75px" height="75px" class="mr-1" />
  </a>
  <a href="https://github.com/shargreaves002" target="_blank">
    <img src="../../assets/github.svg" alt="GitHub" width="75px" height="75px" class="ml-1" />
  </a>
</section>
<div class="col-md-10 mx-auto">
  <div class="card my-3">
    <h2 class="text-center card-header">
      <strong>About Me</strong>
    </h2>
    <div class="card-body">
      <h3 class="text-center mt-1">
        <strong>Skills</strong>
      </h3>
      <ul>
        <li>
          <strong>Software:</strong> Windows and Linux-based operating systems, automated monitoring using Opsview and Nagios, Salesforce, Excel
        </li>
        <li>
          <strong>Hardware:</strong> Desktop and laptop computers, mobile devices, networking infrastructure, rack mounted servers
        </li>
        <li>
          <strong>Certification(s):</strong> CompTIA A+
        </li>
      </ul>
    </div>
    <section class="container-fluid">
      <h3 class="text-center card-title">
        <strong>Experience</strong>
      </h3>
      <div class="row">
        <div class="col">
          <strong>Taco Bell</strong>
        </div>
        <div class="col text-right">
          <strong>Baltimore, MD</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i>Shift Lead</i>
        </div>
        <div class="col text-right">
          <i>November 2018 – July 2019</i>
        </div>
      </div>
      <ul>
        <li>
          Managed teams of employees in a fast-paced, customer service-oriented environment
        </li>
        <li>
          Prepared ingredients and orders while maintaining ServSafe standards
        </li>
        <li>
          Handled opening procedures, including depositing previous day’s earnings
        </li>
        <li>
          Worked with customers to ensure satisfaction
        </li>
      </ul>
      <div class="row">
        <div class="col">
          <strong>Domino's Pizza</strong>
        </div>
        <div class="col text-right">
          <strong>Owings Mills, MD</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i>Delivery Driver</i>
        </div>
        <div class="col text-right">
          <i>January 2017 – November 2018</i>
        </div>
      </div>
      <ul>
        <li>
          Delivered orders to remote customers in a safe and timely fashion
        </li>
        <li>
          Represented the company and handled questions, comments, and complaints away from the store
        </li>
      </ul>
      <div class="row">
        <div class="col">
          <strong>Taos Mountain, LLC</strong>
        </div>
        <div class="col text-right">
          <strong>Boise, ID</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i>IT Intern</i>
        </div>
        <div class="col text-right">
          <i>June 2016 – January 2017 </i>
        </div>
      </div>
      <ul>
        <li>
          Set up and maintained desktop systems for employee use
        </li>
        <li>
          Managed asset tracking for company-owned hardware
        </li>
        <li>
          Assisted with on-site server maintenance when needed
        </li>
      </ul>
    </section>
    <section class="container-fluid">
      <h3 class="text-center card-title">
        <strong>Education</strong>
      </h3>
      <div class="row">
        <div class="col">
          <strong>Year Up/ Wilmington University</strong>
        </div>
        <div class="col text-right">
          <strong>Wilmington, DE</strong>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i>Software Development</i>
        </div>
        <div class="col text-right">
          <i>August 2019 – Present</i>
        </div>
      </div>
      <ul>
        <li>
          Year Up is a leading one-year career development program with 250 corporate partners around the country;
          the program includes college-level courses, professional training, and a six-month internship
        </li>
        <li>
          Taking classes for software development taught through Zip Code Wilmington
        </li>
        <li>
          Earning 18 college credits towards a degree in Computer Science in partnership with Wilmington University
        </li>
        <li>
          Relevant course material includes Object Oriented Programming in Java, front end design in Angular,
          consuming and creating APIs using Spring Boot, database manipulation in SQL,
          and business problem solving using Excel.
        </li>
      </ul>
    </section>
  </div>
</div>
<router-outlet></router-outlet>
